*{
    margin: 0;
    padding: 0;
   ;
    color: white;
}

#logo{
    font-size: 25px;
    color: #f08804;

}

#navbar{
    background-color: #0f1111;
    height: 60px;
    
}

button{
    background-color: #f08804;
}

a{
    margin-right: 200px;
    text-decoration: none;
}
